/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bourbon";
@import "*";

$salmon-color: #FF4661;
$light-grey: #9A9A9A;


.main-container {
  max-width: 1200px;
}

.module {
  border: 1px solid $salmon-color;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;

  .header {
    color: $light-grey;
    margin: 0px 30px;
  }

  .list-group {
    max-height: 200px;
    overflow-y: scroll;
  }
}

.no-padding {
  padding: 0px;
}

.right {
  float: right;
}
