/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bourbon";
@import "font-awesome-sprockets";
@import "font-awesome";

$salmon-color: #FF4661;
$salmon-hover-color: #A00B29;
$light-grey: #9A9A9A;

$large-screen: "(min-width : 768px)";

.no-padding {
  padding: 0px !important;
}

.no-indent {
  text-indent: 0px !important;
}

.transition-all {
  @include transition(all 0.5s ease);
}

.btn.disabled, .btn[disabled] {
  cursor: default;
}

// quick hack for fixing sidebar nav z-index on firefox
* {
  position: relative;
}

@import "*";
