$sidebar-nav-height: 40px;
$sidebar-nav-background-color: #000;
$sidebar-width: 255px;
$sidebar-background-color: #222;

/* .toggled on a large screen closes the sidebar.
   It opens the sidebar on a small screen */

#wrapper {
  padding-left: 0;
  @include transition(all 0.5s ease);

  @media #{$large-screen} {
    padding-left: $sidebar-width;
  }
}

#wrapper.toggled {
  padding-left: $sidebar-width;

  @media #{$large-screen} {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: $sidebar-width;

    @media #{$large-screen} {
      width: 0;
    }
  }

  #page-wrapper {
    position: absolute;
    margin-right: -$sidebar-width;

    @media #{$large-screen} {
      position: relative;
      margin-right: 0;
    }
  }

  #modal-view-wrapper {
    @include calc(width, "100% - #{$sidebar-width}");

    @media #{$large-screen} {
      width: 100%;
    }
  }
}

/* Sidebar Styles */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: $sidebar-width;
  width: 0;
  height: 100%;
  margin-left: -$sidebar-width;
  overflow-y: auto;
  background: $sidebar-background-color;
  @include transition(all 0.5s ease);

  @media #{$large-screen} {
    width: $sidebar-width;
  }
}

#sidebar-nav {
  width: $sidebar-width;
  text-align: center;
  height: $sidebar-nav-height;
  font-size: 24px;
  border-bottom: 1px lighten($sidebar-nav-background-color, 20%) solid;
  z-index: 1100;
  @include transform(translateZ(0));
  position: fixed;
  top: 0px;
  left: 0px;


  td {
    background-color: transparentize($sidebar-nav-background-color, 0.1);
    color: $salmon-color;
    border-right: 1px lighten($sidebar-nav-background-color, 20%) solid;

    cursor: default;
    @media #{$large-screen} {
      cursor: pointer;
    }

    #wrapper.toggled & {
      cursor: pointer;
      @media #{$large-screen} {
        cursor: default;
      }
    }

    &:hover, &.selected {
      background-color: lighten(transparentize($sidebar-nav-background-color, 0.1), 20%);
      color: darken($salmon-color, 7%);
    }

  }

  &:last-child {
    border-right: none;
  }
}

@include keyframes(nav-out) {
  from {
    left: 0px;
    opacity: 1;
  }
  to {
    left: $sidebar-width;
    opacity: 0;
  }
}

@include keyframes(nav-in) {
  from {
    left: -$sidebar-width;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

.sidebar-content {
  position: absolute;
  top: $sidebar-nav-height;
  width: $sidebar-width;
  list-style: none;
  opacity: 0;

  &.selected {
    @include animation(nav-in 0.5s ease);
    left: 0px;
    opacity: 1;
  }

  &.not-selected {
    @include animation(nav-out 0.5s ease);
    opacity: 0;
    left: -1000px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    text-indent: 20px;
  }

  li, .sidebar-top-content {
    line-height: 40px;
    border-bottom: 1px lighten($sidebar-nav-background-color, 20%) solid;

    a {
      display: block;
      text-decoration: none;
      color: #999999;

      &:hover {
        text-decoration: none;
        color: #fff;
        background-color: lighten($sidebar-nav-background-color, 20%);
      }

      &:active, &:focus {
        text-decoration: none;
      }

    }
  }
}

#sidebar-toggle {
  position: absolute;
  color: #fff;
  font-size: 26px;
  text-align: center;
  top: 0px;
  left: 0px;
  height: $sidebar-nav-height;
  width: 20px;
  background-color: lighten($sidebar-nav-background-color, 20%);
  cursor: pointer;
  border-bottom-right-radius: 3px;
  z-index: 1200;

  i {
    @include transform(rotate(-90deg));

    @media #{$large-screen} {
      @include transform(rotate(90deg));
    }

    &.toggled {
      @include transform(rotate(90deg));

      @media #{$large-screen} {
        @include transform(rotate(-90deg));
      }
    }
  }
}

// Main Page/Editor styles
#page-wrapper {
  width: 100%;
  position: absolute;

  @media #{$large-screen} {
    position: relative;
  }

  #page-header {
    height: $sidebar-nav-height;
    background-color: lighten($sidebar-nav-background-color, 20%);
    z-index: 1600;

    a i {
      color: $salmon-color;
      padding: 8px 12px;
      font-size: 24px;

      &:hover {
        color: darken($salmon-color, 7%);
      }
    }
  }

  .page-content {
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}

// Modal View styles
#modal-view-wrapper {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.8);
  top: 40px;
  display: none;
  @include transition(width 0.5s ease);

  @media #{$large-screen} {
    @include calc(width, "100% - #{$sidebar-width}");
  }

    #modal-content-container {
      position: relative;
      margin: 20px;
      background-color: #fff;
      overflow: scroll;
      border-radius: 3px;
      min-width: 200px;

      #modal-content {
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
      }
    }
}

// Form styles
button i {
  margin-right: 5px;
  margin-left: -5px;
}

.form-control {
  margin-bottom: -20px;
}

.form-input-padding {
  padding-top: 16px;
  height: 24px;
}

.form-group.submit-button {
  text-align: center;
  padding-top: 6px;
  margin-bottom: -6px;
}

@include keyframes(error-out) {
  from {
     opacity: 1;
     @include calc(padding-left, "50% - 100px");
  }
  to {
    opacity: 0;
    padding-left: 100%;
  }
}

@include keyframes(error-in) {
  from {
    opacity: 0;
    padding-left: 0px;
  }
  to {
     opacity: 1;
     @include calc(padding-left, "50% - 100px");
  }
}

.help-block.with-errors.form-input-padding {
  opacity: 0;
  padding-left: 0px;
  @include animation(error-out 0.5s ease);

  .form-group.has-error & {
     opacity: 1;
     @include calc(padding-left, "50% - 100px");
     @include animation(error-in 0.5s ease);
  }

  li {
    width: 200px;
    text-align: center;
  }
}

// Popdown Styles
#popdown-wrapper {
  position: fixed;
  width: 320px;
  padding: 5px 10px 10px 10px;
  z-index: 2000;
  margin-top: -2px;
  @include transition(all 0.5s ease);
  top: -60px;
  left: 50%;
  margin-left: -160px;
  border-radius: 0px 0px 50px 50px;

  &.open {
    top: 0px;
  }

  &.success {
    background-color: #DBFFD3;
    border: 1px solid darken(rgb(126, 239, 104), 30%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  }

  &.error {
    background-color: #FEBCD1;
    border: 1px solid darken(rgb(233, 14, 60), 30%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(233, 14, 60, 0.6);
  }

  .popdown-content {
    text-align: center;
  }

  .dismiss {
    margin-bottom: -12px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
  }
}


