$sidebar-nav-height: 40px;
$sidebar-nav-background-color: #000;
$sidebar-width: 255px;
$sidebar-background-color: #222;

/* .toggled on a large screen closes the sidebar.
   It opens the sidebar on a small screen */

#wrapper {
  padding-left: 0;
  @include transition(all 0.5s ease);

  @media #{$large-screen} {
    padding-left: $sidebar-width;
  }
}

#wrapper.toggled {
  padding-left: $sidebar-width;

  @media #{$large-screen} {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: $sidebar-width;

    @media #{$large-screen} {
      width: 0;
    }
  }

  #page-content-wrapper {
    position: absolute;
    margin-right: -$sidebar-width;

    @media #{$large-screen} {
      position: relative;
      margin-right: 0;
    }
  }
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: $sidebar-width;
  width: 0;
  height: 100%;
  margin-left: -$sidebar-width;
  overflow-y: auto;
  background: $sidebar-background-color;
  @include transition(all 0.5s ease);

  @media #{$large-screen} {
    width: $sidebar-width;
  }
}

#sidebar-nav {
  width: $sidebar-width;
  text-align: center;
  height: $sidebar-nav-height;
  font-size: 24px;
  border-bottom: 1px lighten($sidebar-nav-background-color, 20%) solid;

  td {
    background-color: $sidebar-nav-background-color;
    color: $salmon-color;
    border-right: 1px lighten($sidebar-nav-background-color, 20%) solid;
    cursor: pointer;

    &:hover, &.selected {
      background-color: lighten($sidebar-nav-background-color, 20%);
      color: lighten($salmon-color, 10%);
    }

  }

  &:last-child {
    border-right: none;
  }
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;

  @media #{$large-screen} {
    padding: 20px;
    position: relative;
  }
}

/* Sidebar Styles */

@include keyframes(nav-out) {
  from {
    left: 0px;
    opacity: 1;
  }
  to {
    left: $sidebar-width;
    opacity: 0;
  }
}

@include keyframes(nav-in) {
  from {
    left: -$sidebar-width;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

.sidebar-content {
  position: absolute;
  top: $sidebar-nav-height;
  width: $sidebar-width;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;

  &.selected {
    @include animation(nav-in 0.5s ease);
    left: 0px;
    opacity: 1;
  }

  &.not-selected {
    @include animation(nav-out 0.5s ease);
    opacity: 0;
    left: -1000px;
  }

  li {
    text-indent: 20px;
    line-height: 40px;
    border-bottom: 1px lighten($sidebar-nav-background-color, 20%) solid;

    a {
      display: block;
      text-decoration: none;
      color: #999999;

      &:hover {
        text-decoration: none;
        color: #fff;
        background-color: lighten($sidebar-nav-background-color, 20%);
      }

      &:active, &:focus {
        text-decoration: none;
      }

    }
  }
}

#sidebar-toggle {
  position: absolute;
  color: #fff;
  font-size: 26px;
  text-align: center;
  top: 0px;
  left: 0px;
  height: $sidebar-nav-height;
  width: 20px;
  background-color: lighten($sidebar-nav-background-color, 20%);
  cursor: pointer;
  border-bottom-right-radius: 3px;

  i {
    @include transform(rotate(-90deg));

    @media #{$large-screen} {
      @include transform(rotate(90deg));
    }

    &.toggled {
      @include transform(rotate(90deg));

      @media #{$large-screen} {
        @include transform(rotate(-90deg));
      }
    }
  }
}

.transition-all {
  @include transition(all 0.5s ease);
}
